/*person 个人中心*/

.main-header{
	width:70%;
	height:110px;
	box-shadow:0px 0px 2px #aaa;
	border-radius:5px;
	background:#fff;
	float:left;
}
.main-header img{
	width:90px;
	height:90px;
	float:left;
	margin:10px;
	border-radius:2px;
}
.main-header h1{
	font-size:1.8em;
	float:left;
	font-weight:400;
	color:#333;
	margin-top:10px;
}
.main-side{
	width:25%;
	min-height:80px;
	float:right;
	margin-right:2%;
	box-shadow:0px 0px 2px #aaa;
	background:#fff;
	border-radius:5px;
}
.main-side h1{
	font-size:1.3em;
	margin-left:1em;
	font-weight:400;
	/*float:left;*/
	color:#555;
	line-height:50px;
	display:block;
}
.main-side span{
	width:35%;
	height:45px;
	line-height:45px;
	text-align:center;
	margin-bottom:15px;
	display:inline-block;
	float:left;
	letter-spacing:1px;
	/*background:#ccc;*/
}
.main-side span:nth-child(1){
	margin-left:11%;
}
.main-side span:nth-child(4){
	margin-left:11%;
}
.main-side span a{
	line-height:45px;
	width:100%;
	height:100%;
	color:#0A65A1;
	display:inline-block;
}
.main-side span a:hover{
	background:#2A7EC3;
	border-radius:5px;
	color:#fff;
}
.main-side i{
	float:left;
	margin-left:3%;
	margin-right:3%;
	font-style:normal;
	font-weight:300;
	font-size:2em;
	color:#ccc;
}
.main-container{
	width:70%;
	min-height:50px;
	float:left;
	background:#fff;
	box-shadow:0px 0px 2px #aaa;
	border-radius:5px;
	margin-top:15px;
}
.hrhr{
	width:98%;
	margin-left:1%;
	color:#eee;
	float:left;
}
.main-container-nav{
	width:100%;
	height:50px;
	
}
.main-container-nav ul li{
	float:left;
	line-height:50px;
	color:#999;
	font-size:1.05em;
	font-weight:300;
	padding-left:10px;
	padding-right:10px;
	cursor:pointer;
}
.main-container-nav ul span{
	float:left;
	width:1px;
	margin-left:1px;
	height:24px;
	margin-top:13px;
	border-left:1px solid #aaa;

}
.main-container-nav ul li:hover{
	color:#666;
	text-shadow:1px 1px 1px #999;
}
.main-container-article{
	min-height:50px;
	width:100%;
	margin-top:10px;
}
.main-container-news{
	width:98%;
	min-height:50px;
	margin-left:1%;
	display:none;

}
.show-article{
	display:block;
}
.main-container-topic{
	width:100%;
	float:left;
}
.main-container-topic a{
	color:#666;
	font-weight:300;
	width:100%;
	font-size:1.16em;
	/*font-weight:400;*/
	float:left;
	display:block;
	line-height:45px;
	text-indent:0.5em;
}
.main-container-topic a:hover{
	background:#fafafa;
}
.main-container-topic a:hover h1{
	color:#111;
}
.main-container-topic a h1{
	color:#666;
	font-weight:300;
	font-size:1.05em;
	/*font-weight:400;*/
	float:left;
	display:inline-block;
	line-height:40px;
	text-indent:0.5em;
}
.main-container-topic a i{
	/*width:30%;*/
	margin-right:1.5%;
	font-style:normal;
	display:inline-block;
	float:right;
	font-size:0.8em;
	height:40px;
	line-height:45px;
	color:#999;
	font-weight:300;
}
.main-container-article-footer{
	height:15px;
	width:100%;
	float:left;
}

/*end person*/

/*edit*/
.edit-header{
	min-width:50%;
	/*background:red;*/
	float:left;
	margin-top:10px;
}
.edit-header h1 i{
	font-style:normal;
	font-size:0.8em;
}
.edit h1{
	width:100%;
	margin-top:0px;
}
.edit a{
	/*background: red;*/
	float:left;
	color:orange;
	margin-top:20px;
}
.edit-content{
	width:70%;
	margin-top:20px;
	min-height:250px;
	box-shadow:0px 0px 2px #aaa;
	border-radius:5px;
	background:#fff;
	float:left;
}
.edit-content form{
	width:100%;
}
.edit-content form span{
	width:96%;
	margin-left:2%;
	display:block;
	min-height:45px;
	line-height:45px;
	float:left;
	border-bottom:1px dashed #ccc;
}
.edit-content form span:last-child{
	/*border-bottom:0px;*/
	margin-bottom:15px;
}
.edit-content form span i{
	font-style:normal;
	width:5em;
	display:inline-block;
	/*background:red;*/
	text-align:center;
	margin-right:10px;
	margin-left:10px;
	float:left;
}
.edit-content form span input{
	width:50%;
	height:27px;
	float:left;
	margin-top:9px;
	line-height:30px;
	border-radius:3px;
	border:1px solid #999;
	padding-left:5px;
}
.edit-content form span textarea{
	width:50%;
	height:100px;
	float:left;
	margin-top:9px;
	line-height:30px;
	border-radius:3px;
	border:1px solid #999;
	padding-left:5px;
	margin-bottom:9px;
}
.city_china-div{
	float:left;
}
#city_china p{
	float:left;
	margin-right:15px;
}
#city_china select{
	border-radius:3px;
	border:1px solid #999;
	height:28px;
	min-width:50px;
	padding-right:5px;
}
#city_china select:focus{
	box-shadow:0px 0px 2px #2A7EC3;
}
a.submit{
	display:inline-block;
	width:20%;
	margin-left:25%;
	height:30px;
	background:#0066cc;
	line-height:30px;
	text-align:center;
	color:#fff;
	border-radius:5px;
	border:1px solid #ccc;
	margin-top:20px;
	margin-bottom:20px;
	letter-spacing:2px;
}
a.submit:hover{
	background:#005CA2;
	color:gold;
}




@media screen and (max-width:600px){

	/*person 个人中心 移动端*/
	.main-header{
		width:100%;
	}
	.main-side{
		width:100%;
		height:100px;
		margin-top:10px;
		float:left;
	}
	.main-container{
		width:100%;
	}
	.main-container-topic a h1{
		width:100%;
		height:40px;
		float:left;
		display:inline-block;
		word-spacing:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;	
	}
	.main-container-topic a i{
		float:right;
		height:30px;
		line-height:30px;

	}
	.edit-content{
		width:100%;
	}
	.edit-content form span input{
		width:60%;
	}
	.edit-content form span textarea{
		width:60%;
	}
	#city_china{
		height:135px;
	}
	#city_china p{
		clear:both;
		margin-right:15px;
	}
	a.submit{
		width:40%;
		margin-left:30%;
	}
}