<!-- 项目开始日期：2016-02-26  -->
<!-- 作者：黄一凡              -->
<!-- 版本：1.0                 -->
<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title>狮山讨论区</title>
	<link rel="stylesheet" href="__PUBLIC__/front/css/basic.css">
	<link rel="stylesheet" href="__PUBLIC__/front/css/main.css">
	<!-- <link rel="stylesheet" href="__PUBLIC__/front/css/topic.css"> -->
	<link rel="stylesheet" href="__PUBLIC__/front/css/person.css">
	<script src="__PUBLIC__/front/js/jquery.min.js"></script>
</head>
<body>
	<div id="wrapper">
		<!-- 头部导航栏 -->
		<include file="./Application/Home/View/Public/header.html" />
		<!-- 中间内容区 -->
		<div id="main">
			<section class="main-header">
				<volist name="user" id="user">
					<img src="__PUBLIC__/upload/head-img/{$user.img}" alt="" class="head-img"/>
				</volist>
				<div class="edit-header">
				<h1>博勋 <i>个人中心</i> </h1>
			</div>
			</section>
			<section class="main-side">
				<section class="main-side-second">
					<h1>账号设置</h1>
					<div class="side-content">
						<span><a href="__APP__/Home/Person/edit">编辑资料</a></span>
						<i>|</i>
						<span><a href="__APP__/Home/Person/changepwd">修改密码</a></span>
						<!-- <span><a href="">其他其他</a></span>
						<i>|</i>
						<span><a href="">其他其他</a></span> -->
					</div>
				</section>
				<section class="main-side-second">
					<h1>部落信息</h1>
					<div class="side-content">
						<span><a href="__APP__/Home/Person/myforum">我的部落</a></span>
						<i>|</i>
						<span><a href="__APP__/Home/Person/createforum">创建部落</a></span>
						<!-- <span><a href="">其他其他</a></span>
						<i>|</i>
						<span><a href="">其他其他</a></span> -->
					</div>
				</section>
				
			</section>
			
			<section class="main-container">
				<nav class="main-container-nav">
					<ul class="main-container-nav-ul">
						<li>最近创建的话题</li>
						<!-- <span></span> -->
						<li>最近的回复 </li>
					</ul>
				</nav>
				<hr class="hrhr">
				<div class="main-container-article">
					<article class="main-container-news show-article">
						<!-- 最近创建的话题 -->
						<volist name="topic" id="topic">
							<div class="main-container-topic">
								<a href="__APP__/Home/Index/topic?id={$topic.topicid}"><h1>{$topic.topicname}</h1><i>赞：{$topic.zan} ｜ 评：{$topic.resnum}｜{$topic.time}</i></a>
							</div>
							<hr class="hrhr">
						</volist>	
						<!-- <hr class="hrhr"> -->
					</article>
					<!-- <span></span> -->
					<article class="main-container-news">
						<!-- 最近的回复 -->
						<volist name="response" id="response">
							<div class="main-container-response">
								<a><h1>{$response.rescontent}</h1><i>[{$response.responser}] {$response.restime}</i></a>
								
							</div>
							<hr class="hrhr">
						</volist>
					</article>
					<footer class="main-container-article-footer">
						
					</footer>
				</div>
			</section>
		</div>
		<!-- 尾部 -->
		<include file="./Application/Home/View/Public/footer.html" />
	</div>
<script>
	$(".main-container-nav-ul > li").click(function(){
		var index=$(this).index();
		$(".main-container-article > article").eq(index).siblings("article").removeClass("show-article");
		$(".main-container-article > article").eq(index).addClass("show-article");
	})
</script>
</body>
</html>